.App {
  text-align: center;
}


.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.post {
  display: flex;
  width: 640px;
  margin-left: 400px;
}

.left-bar {
  width: 70px;
  background-color: #FFFFFF;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
}

.right-bar {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 0px;
}

.main-content {
  background-color: #FFD9D9;
  flex-grow: 1;
  display: flex;
  border-radius: 3px;
  padding: 7px 0px;
}

.text-content {
  background-color: #FFFFFF;
  margin: 0px 10px;
  border-radius: 3px;
  width: 490px;
  text-align: left;
  padding-left: 10px;
}

.artist-image {
  border-radius: 50px;
  background-color:#FF8E8E;
  width: 50px;
  height: 50px;
}

.right-box {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
}

.top {
  margin-bottom: 3px;
}

.center {
  margin: 3px 0px;
}

.bottom {
  margin-top: 3px;
}

.type-indicator {
  height: 25px;
  width: 25px;
  border: 1px solid #FFD9D9;
  border-radius: 3px;
  background-color: white;
  margin-top: 10px;
}

p {
  color: #FF8E8E;
}

