.App {
  text-align: center;
}



.App-header {
  font-size: calc(10px + 2vmin);
  color: #FFD9D9;
}
img {
  max-width: 100%
}
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100vw;
}

.post { /*parent for left bar, main-content, and download box, horizontal*/
  display: flex;
  width: 640px;
  padding: 20px 10px 0px 10px;
}


.left-bar {
  width: 70px;
  background-color: #FFFFFF;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
}
.sidenav{
  height: 100%; 
  width: 15%;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#FF8E8E;
  transition: .5s ease; 
  overflow-x: hidden;
  padding: 15px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  font-size: 23px;
  text-align: left;
}
.sidenav a {
  width: 100%;
}
.pages
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sidenav a{
  text-decoration: none;
  color: inherit;

}

.groups{
  padding-top: 50px;
  color: white;
  width: 100%;
  margin-Bottom: 1rem;
}
.titlegroups{
  color: white;
  border-Bottom: 2px solid white;
}
.titlediv{
  color: white;
  border-bottom: 2px solid white;
  width: 100%;
  margin-bottom: 1rem;
}
.icon-image {
  float: left;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  
}
.icon-image img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.main-logo {
  padding-bottom: 30px;
}

.white-box {
  background-color: white;
  color: black;
  padding: 10px;
  position:relative; 
  top: 10px;
  margin-bottom: 10px;
}
.artist-name
{
  color:#FF8E8E;
  border-bottom: 2px solid #FF8E8E;
  font-size: 17px;
  width: 120px;
  overflow: visible;
  padding-bottom: 2px;
}
.artist-image{
  float: right;
  position: relative;
  top: -45px;
  border-radius: 50px;
  background-color:#FF8E8E;
  width: 50px;
  height: 50px;
}

.artist-post-image {
  float: right;
  position: relative;
  border-radius: 50px;
  background-color:#FF8E8E;
  width: 50px;
  height: 50px;
}

.group-name{
  color:#FF8E8E;
  font-size: 12px;
  padding-top: 2px;
}
.badge {
  position: absolute;
  top: -5px;
  right: 42px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #FF8E8E;
  color: white;
  scale: .5;
}


.right-bar {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 7px 0px 0px;
}

.main-content { /*parent for content and right bar, horizontal*/
  background-color: #FFD9D9;
  flex-grow: 1;
  display: flex;
  border-radius: 3px;
  padding: 7px 0px;
  max-width: 560px;
}

.remix-parent { /*parent for the top half and the caption, vertical*/
  width: 100%;
  display: flex;
  flex-direction: column;
}

.remix-content { /*parent for the album image and the next container, horizontal*/
  height: 50%;
  width: 100%;
  display: flex;
  /* align-items: center; */
}

.remix-image {
  background-color: white;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 3px;
  margin-left: 10px;
}

.audio-image {
  height: 100%;
  aspect-ratio: 1/1;
}

.remix-info { /*parent container for the remix-name/caption and the media player, vertical*/
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.remix-caption {
  margin-top: 10px;
}

.text-content {
  background-color: #FFFFFF;
  margin: 0px 10px;
  border-radius: 3px;
  flex-grow: 1;
  text-align: left;
  padding: 5px 10px;
  height: auto;
  color: #FF8E8E;
  font-size: 12px;
}

.remix-name {
  width: fit-content;
  margin-bottom: 7px;
}

audio {
  height: 45%;
  width: inherit;
  margin: 5px 10px 0px;
}

.artist-pic { /*phase out!*/
  border-radius: 50px;
  background-color:#FF8E8E;
  width: 50px;
  height: 50px;
}

.artist-content {
  border-radius: 50px;
  border: 1px solid #FF8E8E;
  height: 49px;
  width: 49px;
}

.right-box {
  min-width: 40px;
  min-height: 40px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #FF8E8E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  margin-bottom: 3px;
}

.right-filler {
  flex-grow: 1;
}

.center {
  /* margin-top: auto; */
  margin: 3px 0px;
}

.bottom {
  margin-top: 3px;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.comments-wrapper {
  display: none;
}

.comments-arrow {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #FFD9D9;
}

.comments-arrow {
  margin-left: 607px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  background-color: #FFD9D9;
  border-radius: 3px;
  padding: 0px 10px;
  width: 495px;
  margin-left: 135px;
}

.single-comment {
  display: flex;
  padding: 10px 0px 0px 0px;
}

.write-comment {
  display: flex;
  padding: 10px 0px 10px 0px;
}
/* top right bottom left*/

input {
  color: #FFD9D9;
  border: none;
  margin: 0px 10px;
  flex-grow: 1;
  border-radius: 3px;
}

.image-parent { /*contains pic and caption, vertical*/
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.image-content {
  margin: 10px;
}

.type-indicator {
  height: 25px;
  width: 25px;
  /* border: 1px solid #FFD9D9; */
  border-radius: 3px;
  background-color: white;
  margin-top: 10px;
}

.triangle-left { /*going to have to be modified for past-milestone implementation*/
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #FFD9D9;
  margin-top: 60px;
  display: none;
}

.profile-element {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
}

.profile-expand {
  margin-top: 0px;
  /* margin-left: -20px; */
}

.profile-info { /*can't get same line for some reason*/
  flex: 1;
}

.report-profile {
  color: #FFD9D9;
  flex: 1;
}

.inner-triangle {
  position: relative;
  top: -15px;
  left: 3px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid white;
  z-index: 1;
}

.download-box {
  position: relative;
  top: -52px;
  left: 20px;
  /* height: 50px;
  width: 40px; */
  background-color: white;;
  border: 2px solid #FFD9D9;
  border-radius: 3px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  white-space: nowrap;

}

.download-element {
  display: flex;
  padding: 3px;
  margin: 3px;
  /* position: relative;
  width: auto; */
}

.file-info {
  padding: 3px;
  margin: 3px;
  width: fit-content;
  /* min-width: 300px; */
}

.download-button {
  margin-top: 0px;
  height: 25px;
  width: 25px;
}

myimg {
  height: 300px;
}

.header-image { 
  border-radius: 3px;
  border: 2px solid #FF8E8E;
  display: flex;
  border-radius: 3px;
  /* padding: 7px; */
  width: 100%;
  height: 150px;
  margin-top: 20px;
}

.header-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.profile-plate {
  background-color: white;
  border-radius: 3px;
  border: 2px solid #FF8E8E;
  flex-grow: 1 2;
  display: flex;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.artist-profile-image {
  float: right;
  position: relative;
  border-radius: 50px;
  background-color:#FF8E8E;
  width: 50px;
  height: 50px;
}

.user-profile-image {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #FF8E8E;
}

.title{
  color:#FF8E8E;
  border-bottom: 2px solid #FF8E8E;
  font-size: 25px;
  /* width: 120px; */
  overflow: visible;
  padding-bottom: 2px;
  bottom: 0;
}

.profile-text {
  /* border-radius: 3px; */
  padding-top: 10px;
  text-align: left;
  height: auto;
  color: #FF8E8E;
  font-size: 15px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 10px;
}

.title-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}

.stat-column {
  flex-direction: column;
}

.follow-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 3px;
  background-color:#FF8E8E;
  width: 100px;
  height: 50px;
  margin: 10px;
}

.button-text {
  color: white;
  margin-top: 12px;
  font-size: 20px;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-button {
  border-radius: 3px;
  background-color:#FF8E8E;
  width: 120px;
  height: 50px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}